{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                Batch upload
            </div>
            <div class="panel-body">
                <form action="/user/upload" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="file" name="file" value="choose">
                    </div>
                    <input type="submit" class="btn btn-info btn-sm" value="submit">
                </form>
            </div>
        </div>
        <div style="margin-bottom: 10px">
{#            <a href="/user/add" class="btn btn-success">#}
{#                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>#}
{#                add new user#}
{#            </a>#}
            <a href="/user/modelForm/add" class="btn btn-success">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                insert new user
            </a>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                User List
            </div>
            <div class="panel-body">
                <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum
                    nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
                    vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>AGE</th>
                    <th>GENDER</th>
                    <th>SALARY</th>
                    <th>CREATE_TIME</th>
                    <th>DEPART_ID</th>
                    <th>DEPART_TITLE</th>
                    <th>OPERATION</th>
                </tr>
                </thead>
                <tbody>
                {% for i in user_union %}
                <tr>
                    <th>{{ i.id }}</th>
                    <td>{{ i.name }}</td>
                    <td>{{ i.age }}</td>
                    <td>{{ i.get_gender_display }}</td>
                    <td>{{ i.salary }}</td>
                    <td>{{ i.create_time | date:"Y-m-d" }}</td>
                    <td>{{ i.depart_id }}</td>
                    <td>{{ i.depart.title }}</td>
                    <td>
                        <a href="/user/{{ i.id }}/edit" class="btn btn-primary btn-xs">edit</a>
                        <a href="/user/delete?id={{ i.id }}" class="btn btn-primary btn-xs">delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            {{ page_list }}
        </ul>
    </div>
{% endblock %}